<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add New Recipe</title>
  <link rel="stylesheet" href="/css/add.css">
</head>
<body>
      <header>
        <div class="nav-bar">
            <div class="logo"><b>RECIPIE</b></div>
            <div class="nav-options">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/recipes">All Recipes</a></li>
                    <li><a href="/recipes/new">Add Recipe</a></li>
                    <li><a href="/myrecipes">My Recipes</a></li>
                    <li><a href="/login"><button class="btn nav-btn">Login/Register</button></a></li>
                </ul>
            </div>
        </div>
  </header>
  <main>
    <div class="form-container">
    <h1>Add a New Recipe</h1>
    <form action="/recipes" method="POST">
      <div class="form-group">
        <label for="description">Recipe Name</label>
        <input type="text" id="description" name="recipe[description]" placeholder="e.g. Masala Dosa" required>
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <select id="category" name="recipe[category]" required>
          <option value="">Select category</option>
          <option value="Breakfast">Breakfast</option>
          <option value="Lunch">Lunch</option>
          <option value="Dinner">Dinner</option>
          <option value="Snack">Snack</option>
          <option value="Dessert">Dessert</option>
        </select>
      </div>

      <div class="form-group">
        <label for="ingredients">Ingredients</label>
        <textarea id="ingredients" name="recipe[ingredients]" placeholder="Enter ingredients separated by commas" required></textarea>
      </div>

      <div class="form-group">
        <label for="instructions">Instructions</label>
        <textarea id="instructions" name="recipe[instructions]" placeholder="Enter each step separated by commas" required></textarea>
      </div>

      <div class="form-row">
        <div class="form-group small">
          <label for="prepTime">Preparation Time (mins)</label>
          <input type="number" id="prepTime" name="recipe[prepTime]" min="1" required>
        </div>

        <div class="form-group small">
          <label for="servings">Servings</label>
          <input type="number" id="servings" name="recipe[servings]" min="1" required>
        </div>
      </div>

      <div class="form-group">
        <label for="image">Image URL</label>
        <input type="text" id="image" name="recipe[image][url]" placeholder="https://example.com/image.jpg">
      </div>

      <button type="submit" class="btn-sub">Add Recipe</button>
    </form>
  </div>
  </main>
  
</body>
</html>