

.hero{
    margin: 2rem;
    display: flex;
    height: 80vh;
    margin-top: 8rem;
}
.hero-left{
    padding: 2rem;
    font-size: 2rem;
}

.hero-left p{
    color: grey;
    padding: 2rem 2rem 2rem 0rem;
    font-weight: 500;
    font-size: 1.3rem;
    line-height:1.6rem;
}
.hero-right{
    display: grid;
    grid-template-columns: repeat(2, 2fr); /* 2 columns */
    gap: 15px; /* space between images */
    margin: auto;
}

.btn-hero{
    margin-top: 3rem;
}

.image img{
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
    height: 250px;
    width: 250px;
}

.footer{
    padding-top:2rem;
    background-color:rgb(250, 213, 182);
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;   
}

.f-info-socials,.f-info-links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
    font-size: 1.3rem;
    margin-right: 1rem;
}
.f-info{
    text-align: center;
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
