*{
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif ;
    text-decoration: none;
    
}
body{
    background-color: #fdf2e9;
}
.btn{
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
    border: none;
    border-radius: 2rem;
    padding: 0.75rem;
    background-color:  rgb(255, 115, 0);
}

.nav-btn{
    font-size: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.nav-bar{
    background-color: #fdf2e9;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid black;
    justify-content: space-between;
}
.logo{
    margin-left: 3rem;
    color: rgb(255, 115, 0);
    margin-right: 2rem;
    font-size: 2rem;
}
.nav-options ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-options ul li a{
    color: black;
    padding: 1rem;
    font-weight: 500;
}

.nav-options ul li a:hover{
    color: grey;
}

.hero{
    margin: 2rem;
    display: flex;
    height: 80vh;
    margin-top: 8rem;
}
.hero-left{
    padding: 2rem;
}
.hero-left{
    font-size: 2rem;
}
.hero-left p{
    color: grey;
    padding: 2rem 2rem 2rem 0rem;
    font-weight: 300;
    font-size: 1.3rem;
    line-height:1.6rem;
}
.hero-right{
    display: grid;
    grid-template-columns: repeat(2, 2fr); /* 2 columns */
    gap: 15px; /* space between images */
    margin: auto;
}

.btn-hero{
    margin-top: 3rem;
}
.image img{
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
    height: 250px;
    width: 250px;
}

.footer{
    padding-top:2rem;
    background-color: #fffdfd !important;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;   
}

.f-info-socials,.f-info-links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
    font-size: 1.3rem;
    margin-right: 1rem;
}
.f-info{
    text-align: center;
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
