*{
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif ;
    text-decoration: none;
    
}
body{
    background-color: #fdf2e9;
}
.btn{
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
    border: none;
    border-radius: 2rem;
    padding: 0.75rem;
    background-color:  rgb(255, 115, 0);
}

.nav-btn{
    font-size: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.nav-bar{
    background-color: #fdf2e9;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 0 20px 0.2px rgba(0, 0, 0, 0.202);
    justify-content: space-between;
    z-index: 10;
}
.logo{
    margin-left: 3rem;
    color: rgb(255, 115, 0);
    margin-right: 2rem;
    font-size: 2rem;
}
.nav-options ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-options ul li a{
    color: black;
    padding: 1rem;
    font-weight: 500;
}

.nav-options ul li a:hover{
    color: grey;
}